.phraseContainer {
    height: 8vh;
}

.phraseText {
    margin: 2rem;
    text-align: right;
    color: var(--grayish-white);
    font-style: italic;
    font-size: 1.1rem;
}

.fadeEnter {
    opacity: 0;
}

.fadeEnterActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1000ms, transform 1000ms;
}

.fadeExit {
    opacity: 1;
    transform: translateY(0);
}

.fadeExitActive {
    opacity: 0;
    transition: opacity 1000ms, transform 1000ms;
}