@import "./global/colors.css";


main {
    display: block;
}

.menuContent {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.navContainer {
    background-color: var(--gray-dark);
    width: 15rem;
    min-width: 10rem;
}

.navList {
    display: flex;
    height: 100vh;
    justify-content: center;
    list-style: none;
    flex-direction: column;
    li {
        text-align: center;
        margin: 8vh 0;
    }
}

.navLink {
    border-bottom: var(--grayish-white) 2px solid;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.5rem;
    opacity: 0.5;
    color: var(--white);
    transition: 0.3s ease-in-out;
    &:hover {
        border-bottom: var(--white) 3px solid;
        color: var(--white);
        font-weight: 700;
    }
}

.active {
    opacity: 1;
}


.mainContainer {
    position: relative;
    overflow-y: auto;
    flex: 1;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}


.hamburgerButton {
    display: none;
}

.pageContainer {
    position: relative;
    flex: 1;
    width: 100%;
}

.navIcon {
    width: 24px;
    height: 2vh;
    object-fit: contain;
}

.navItemContent {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-left: 2rem;
}


/* --- ESTILOS RESPONSIVOS PARA TELAS MENORES --- */

@media (max-width: 768px) {

    .navContainer {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 1000;
        transform: translateX(-100%);
        transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .menuVisible .navContainer {
        transform: translateX(0);
    }

    .hamburgerButton {
        display: block;
        position: fixed;
        top: 1lvh;
        left: 1lvh;
        z-index: 1001;
        background: none;
        color: var(--white);
        width: 45px;
        height: 45px;
        font-size: 1.5rem;
        border: none;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.3);
        animation: 1s ease;
    }

    .backdrop.closing {
        animation: 1s ease;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}