@import "./global/colors.css";


main {
    display: block;
}

.menuContent {
    display: flex;
}

.navContainer {
    background-color: var(--gray-dark);
    width: 35vh;
}

.navList {
    display: flex;
    height: 100vh;
    justify-content: center;
    list-style: none;
    flex-direction: column;
    transition: 0.3s ease;
}

.navList li {
    text-align: center;
    margin: 8vh 0;
}

.navLink {
    border-bottom: var(--grayish-white) 2px solid;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.5rem;
    color: var(--grayish-white);
    transition: 1s ease-in-out;
}

.navLink:hover, .active {
    border-bottom: var(--white) 2px solid;
    color: var(--white);
}

.mainContainer {
  position: relative;
  overflow: hidden; /* Garante que nada "vaze" durante a animação */
}

